
@font-face{
  font-family:Undertale;
  src:url(font/DTM-Sans.otf) format("opentype");
}

body {
  background-image: url("images/background-pattern.png");
  background-repeat: repeat-x;
  font-family:Undertale;
  color: white;
  text-align: center;
}

h1 {
  font-size:50px
}

audio {
  display:none
}
