
@font-face{
  font-family:Undertale;
  src:url(font/DTM-Sans.otf) format("opentype");
}

body {
  background-image: url("images/background-pattern.png");
  background-repeat: repeat;
  font-family:Undertale;
  color: white;
  text-align: center;
}

h1 {
  margin: 0 auto;
  padding: 10px;
  background-color: black;
  border: 5px solid white;
  font-size:50px;
  height: 70px;
  width: 30%;
}

p {
  background-color: black;
  border: 5px solid white;
  padding: 10px;
  text-align: center;
}

audio {
  display:none
}
